/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.btn btn-lg btn-primary{
  color: beige;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgb(255, 0, 0);
  border: solid rgb(255, 0, 0);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.float-md-start{
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  color: rgb(255, 136, 0);
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
body {
  background-color: black;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #cecece;
  
}
.text-muted{
  color: #ffffff;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-captionss{
  background: url("https://estaticos-cdn.prensaiberica.es/clip/26ea8db2-0696-490d-a85b-a2579f83d601_16-9-aspect-ratio_default_0.jpg");
}

.ballon {
  width: 100px;
  height: 100px;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/010/851/433/small/soccer-ball-illustration-png.png");
  background-size: cover;
  position: absolute;
  top: 50%;
  left: -50px;
  animation: ballon 2s ease-in-out infinite;
}
.terrain
{
  width: 744px;
  height: 465px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 250px;
}
.ter{
  align-items: center;
}
.tex{
  color: rgb(53, 53, 53);
  text-shadow: 0 .05rem .2rem rgb(255, 136, 0);
  font-weight: 700 /* rtl:600 */;
}
.tit{
  color: rgb(255, 136, 0);
  text-shadow: 0 .05rem .2rem rgb(0, 0, 0);

}
@keyframes ballon {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
    
  }
  9% {
    transform: translateX(72px) translateY(-50px) rotate(80deg);

  }
  18% {
    transform: translateX(144px) translateY(0px) rotate(180deg);
  }
  27% {
    transform: translateX(216px) translateY(-50%)rotate(280deg);
  }
  36% {
    transform: translateX(288px) translateY(0)rotate(380deg);
  }
  45% {
    transform: translateX(360px) translateY(-50px)rotate(480deg);
  }
  54% {
    transform: translateX(432px) translateY(0)rotate(580deg);
  }
  63% {
    transform: translateX(504px) translateY(-50px)rotate(680deg);
  }
  72% {
    transform: translateX(576px) translateY(0)rotate(780deg);
  }
  81% {
    transform: translateX(648px) translateY(-50px)rotate(880deg);
  }
  90% {
    transform: translateX(720px) translateY(0)rotate(980deg);
  }
  100% {
    transform: translateX(792px) translateY(-50px)rotate(1080deg);
  }



}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4; 
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(187, 255, 0, 0.973);
    border: solid rgba(241, 34, 34, 0.884);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(255, 45, 45, 0.966), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }
  body
  {
      background-color:rgba(0, 0, 0, 0.918) ;      
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }


